@layer base {
  :root {
    --brand-color: var(--color-blue-700);

    --brand-color-focus: var(--color-blue-200);
    --brand-color-hover: var(--color-blue-600);
    --brand-color-active: var(--color-blue-800);
    --brand-color-disabled: var(--color-blue-400);
  }
}

@theme inline {
  --color-brand: var(--brand-color);

  --color-brand-focus: var(--brand-color-focus);
  --color-brand-hover: var(--brand-color-hover);
  --color-brand-active: var(--brand-color-active);
  --color-brand-disabled: var(--brand-color-disabled);
}
